services:  
  CyberHub-S1_db: 
      image: postgres:latest
      container_name: CyberHub-Database
      ports:
        - ${DATABASE_PORT}:5432
      environment:
        POSTGRES_USER: ${DATABASE_USER}
        POSTGRES_DB: ${DATABASE_NAME}
        POSTGRES_PASSWORD: ${DATABASE_PASSWORD}

  pgadmin: 
      image: dpage/pgadmin4
      ports:
        - "80:80"
      environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}

  CyberHub-S1_app: 
      image: prawee/strapi:latest
      container_name: CyberHub-Application
      ports:
        - ${APP_PORT}:1337
      environment: 
        DATABASE_CLIENT: ${DATABASE_CLIENT}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USER}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}